@charset "UTF-8";
.container {
    overflow: hidden
}

.row {
    padding: 30px 0
}

.row-bg {
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee
}

.wrapper, .mod {
    width: 1000px;
    margin: 0 auto
}

.mod {
    padding: 30px 0
}

.crumb {
    height: 20px;
    padding: 15px 0;
    color: #666;
    font-size: 12px;
    line-height: 20px
}

.crumb a {
    color: #666;
    font-size: 12px
}

.crumb h1 {
    display: inline;
    font-size: 12px;
    font-weight: normal
}

.crumb .tit {
    float: left
}

.crumb .item {
    float: left
}

.crumb .item em {
    margin: 0 6px;
    color: #999;
    font-family: 'simsun';
    font-style: normal
}

.crumb .drop {
    float: left
}

.crumb .drop .hd {
    height: 20px
}

.crumb .drop .hd a {
    display: block;
    height: 20px;
    _float: left;
    padding: 0 13px 0 5px
}

.crumb .drop .hd a:hover {
    text-decoration: none
}

.crumb .drop .hd i {
    position: absolute;
    margin: 8px 0 0 3px;
    *margin: 4px 0 0 3px;
    width: 0;
    height: 0;
    border-top: 3px solid #ff7000;
    border-left: 3px dashed transparent;
    border-right: 3px dashed transparent;
    overflow: hidden;
    font-size: 0
}

.crumb .drop.open .hd a {
    background-color: #ff7000;
    color: #fff
}

.crumb .drop.open .hd i {
    border-top-color: #fff
}

.crumb .drop .bd {
    position: absolute;
    display: none;
    margin: 5px 0 0 -10px;
    _margin: 20px 0 0 -70px;
    z-index: 20;
    padding: 10px 0 8px 7px;
    background-color: #fff;
    border: 1px solid #e5e5e5
}

.crumb .drop.open .bd {
    display: block
}

.crumb .drop .bd .arrow {
    position: absolute;
    left: 20px;
    top: -6px;
    width: 0;
    height: 0;
    border-bottom: 6px solid #e5e5e5;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent;
    font-size: 0
}

.crumb .drop .bd .arrow b {
    position: absolute;
    left: -6px;
    top: 2px;
    width: 0;
    height: 0;
    border-bottom: 6px solid #fff;
    border-left: 6px dashed transparent;
    border-right: 9px dashed transparent;
    font-size: 0;
    overflow: hidden
}

.crumb .drop .col {
    float: left;
    width: 145px
}

.crumb .drop h3 {
    padding-left: 7px;
    color: #333
}

.crumb .drop li {
    float: left;
    display: inline;
    width: 137px;
    margin: 4px 8px 0 0;
    height: 21px;
    line-height: 20px;
    overflow: hidden
}

.crumb .drop li a {
    display: block;
    height: 21px;
    padding: 0 7px;
    color: #333
}

.crumb .drop li span {
    color: #999
}

.crumb .drop li a:hover, .crumb .drop li.on a {
    background-color: #fff1d7;
    color: #ff7000;
    text-decoration: none
}

.crumb .drop li a:hover span, .crumb .drop li.on a span {
    color: #ff7000
}

.crumb .drop .more {
    clear: both;
    padding: 10px 20px 0 0;
    text-align: right
}

.crumb .drop .more a {
    color: #ff7000
}

.crumb-white .item > a, .crumb-white .item > em, .crumb-white .drop > .hd, .crumb-white .drop > .hd a {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5)
}

.row-top {
    padding: 0
}

.row-top .title {
    margin: 0 0 20px
}

.row-top h1 {
    display: inline;
    margin-right: 10px;
    font-weight: normal;
    font-size: 30px;
    color: #333
}

.row-top .poi-status {
    font-size: 14px;
    color: #999
}

.row-top .en {
    font-size: 16px;
    color: #999
}

.row-top .num {
    font-size: 14px;
    color: #666
}

.row-top .num em {
    font-style: normal;
    color: #1893e3;
    font-size: 18px
}

.row-top .num b {
    font-weight: normal;
    color: #111
}

.row-top .extra {
    float: right;
    padding-top: 10px;
    text-align: right
}

.row-top .weather {
    float: none;
    padding: 0;
    width: auto;
    text-align: right;
    font-size: 12px;
    color: #999;
    line-height: 25px
}

.row-top .weather img {
    margin-right: 8px;
    width: 25px;
    vertical-align: middle
}

.row-top .weather a {
    text-decoration: none;
    color: #999;
    line-height: 25px
}

.row-top .action {
    margin-top: 25px
}

.row-top .btn-collect, .row-top .btn-been, .row-top .btn-want {
    display: inline-block;
    height: 30px;
    margin-left: 20px;
    color: #333;
    line-height: 15px;
    vertical-align: top;
    line-height: 30px;
    font-size: 14px
}

.row-top .btn-collect:hover, .row-top .btn-been:hover, .row-top .btn-want:hover {
    text-decoration: none
}

.row-top .icon {
    float: left;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: url(/images/shopping-icons3.png) no-repeat -60px -140px;
    overflow: hidden
}

.row-top .btn-collect.on .icon, .row-top .btn-collect:hover .icon {
    background-position: -60px -170px
}

.row-top .btn-been .icon {
    background-position: -30px -140px
}

.row-top .btn-been.on .icon, .row-top .btn-been:hover .icon {
    background-position: -30px -170px
}

.row-top .btn-want .icon {
    background-position: 0 -140px
}

.row-top .btn-want.on .icon, .row-top .btn-want:hover .icon {
    background-position: 0 -170px
}

.row-top .been-box {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.rate-pop {
    position: absolute;
    margin-left: 0;
    height: 26px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #ff7200;
    border-radius: 3px;
    white-space: nowrap;
    line-height: 26px
}

.rank-star {
    float: left;
    margin: 6px 0 0 0;
    position: relative;
    overflow: hidden
}

.rank-star .click_star {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 70px;
    height: 14px
}

.rank-star .click_star a {
    float: left;
    width: 14px;
    height: 14px;
    line-height: 100px;
    overflow: hidden
}

.rank-hint {
    margin-left: 76px;
    _margin-top: -18px;
    display: block;
    font-size: 12px;
    color: #666
}

.r-nav {
    margin: 0;
    line-height: 59px;
    font-size: 16px;
    color: #333;
    height: 60px
}

.r-nav .line {
    position: absolute;
    left: 0;
    height: 1px;
    background-color: #f2f2f2;
    width: 100%;
    overflow: hidden
}

.r-nav ul {
    position: relative;
    z-index: 2;
    border-top: 1px solid #ededed
}

.r-nav li {
    float: left;
    display: inline
}

.r-nav li span {
    font-size: 12px;
    color: #999
}

.r-nav li a {
    display: inline-block;
    padding: 0 20px;
    color: #333
}

.r-nav li a:hover {
    text-decoration: none;
    color: #ff9d00
}

.r-nav li.on a {
    color: #ff9d00;
    border-bottom: 2px solid #ff9d00
}

.r-nav .nav-right {
    float: right
}

.r-nav .btn-reviews {
    display: inline-block;
    line-height: 35px;
    background-color: #ff9d00;
    padding: 0 30px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    *vertical-align: middle
}

.r-nav .btn-reviews:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ff8a00
}

.r-nav.fixed {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    line-height: 74px;
    height: 75px;
    border-bottom: 1px solid #f2f2f2
}

.r-nav.fixed ul {
    width: 1000px;
    margin: 0 auto;
    border-top: 0 none
}

.r-nav.fixed .line {
    display: none
}

.mhd {
    font-size: 20px;
    color: #333;
    margin: -30px -3000px 30px;
    padding: 40px 3000px 0;
    border-top: 1px solid #eee;
    font-weight: normal
}

.mhd p {
    margin-top: 5px;
    font-size: 14px;
    color: #999
}

.s-star {
    display: block;
    width: 67px;
    height: 13px;
    background: url(/images/mdd/place/shopping-icons3.png) no-repeat -60px -90px;
    overflow: hidden
}

.s-star4 {
    background-position: -74px -90px
}

.s-star3 {
    background-position: -87px -90px
}

.s-star2 {
    background-position: -101px -90px
}

.s-star1 {
    background-position: -114px -90px
}

.s-star0 {
    background-position: -128px -90px
}

.row-picture .bd {
    height: 370px;
    position: relative;
    overflow: hidden
}

.row-picture .pic-big {
    float: left;
    width: 690px;
    margin-right: 4px;
    overflow: hidden
}

.row-picture .pic-small {
    float: left;
    width: 305px;
    height: 183px;
    margin-bottom: 4px;
    overflow: hidden
}

.row-picture .bd span {
    position: absolute;
    height: 20px;
    background-color: #000;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 0 12px;
    left: 20px;
    bottom: 15px;
    border-radius: 10px
}

.summary {
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
    font-size: 16px;
    color: #333;
    line-height: 24px
}

.mod-detail .baseinfo {
    margin: 10px 0 25px;
    font-size: 14px;
    line-height: 24px
}

.mod-detail .baseinfo li {
    float: left;
    width: 280px;
    padding: 3px 30px 3px 0
}

.mod-detail .baseinfo .label {
    color: #333
}

.mod-detail .baseinfo li + li {
    border-left: 1px solid #eee;
    padding: 3px 30px
}

.mod-detail dl {
    margin: 20px 0;
    font-size: 14px;
    line-height: 24px
}

.mod-detail dl:last-child {
    margin-bottom: 0
}

.mod-detail dt {
    color: #333;
    margin-bottom: 5px
}

.mod-location .maps {
    float: left;
    display: inline;
    width: 500px;
    height: 270px;
    position: relative;
    overflow: hidden
}

.mod-location .m-poi {
    float: left;
    display: inline;
    margin-left: 20px;
    width: 228px;
    height: 268px;
    border: 1px solid #eee
}

.mod-location .mtitle {
    text-align: center;
    line-height: 48px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #333;
    background-color: #f8f8f8
}

.mod-location .mlist {
    padding: 0 20px;
    height: 219px;
    overflow: auto
}

.mod-location .mlist li {
    padding: 15px 0;
    line-height: 24px;
    font-size: 14px;
    border-bottom: 1px dashed #eee;

}

.mod-location .mlist .dist {
    float: right;
    font-size: 12px
}

.mod-location .mlist a {
    color: #666
}

.mod-innerScenic ul {
    margin: -20px -20px 0 0;
    *zoom: 1
}

.mod-innerScenic li {
    background: url(/images/img_repalcement.gif) center center no-repeat #e9ebe9;
    float: left;
    width: 235px;
    height: 199px;
    position: relative;
    overflow: hidden;
    float: left;
    margin: 20px 20px 0 0;
    display: inline
}

.mod-innerScenic a:hover {
    text-decoration: none;
    display: block
}

.mod-innerScenic a:hover h3 {
    color: #ff9d00
}

.mod-innerScenic .info {
    height: 24px;
    background-color: #fff;
    border: 1px solid #efefef;
    border-top: 0 none;
    padding: 12px 10px;
    line-height: 24px;
    color: #666;
    font-size: 12px
}

.mod-innerScenic h3 {
    float: left;
    padding: 0;
    line-height: 24px;
    font-size: 16px;
    color: #333
}

.mod-innerScenic .num {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #616669;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-size: 20px
}

.mod-innerScenic .num-top {
    background-color: #ff9d00
}

.mod-innerScenic .info span {
    float: right
}

.mod-innerScenic .info em {
    color: #ff9d00;
    font-style: normal
}

.mod-reviews + .row {
    border-top: 1px solid #eee
}

.review-nav {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee
}

.review-nav li {
    float: left;
    margin: 5px 0;
    line-height: 24px;
    font-size: 14px
}

.review-nav a {
    color: #333;
    display: inline-block;
    padding: 0 15px;
    border-radius: 2px
}

.review-nav a:hover {
    color: #ff9d00;
    text-decoration: none
}

.review-nav a:hover .num {
    color: #ff9d00
}

.review-nav .on a {
    background-color: #fca729;
    color: #fff
}

.review-nav .on .num {
    color: #fff
}

.review-nav .on a:hover .num {
    color: #fff
}

.review-nav .num {
    font-size: 12px;
    color: #999
}

.review-nav li + li .divide {
    float: left;
    margin: 5px 5px;
    width: 1px;
    height: 15px;
    background-color: #eee
}

.rev-list {
    padding: 0 30px;
    border-bottom: 1px solid #eee
}

.rev-item {
    padding: 25px 0 20px 70px;
    border-bottom: 1px dashed #dedede
}

.rev-item:last-child {
    border-bottom: 0
}

.rev-item .s-star {
    display: inline-block;
    margin: 0 5px;
    vertical-align: -1px;
    *vertical-align: middle
}

.rev-item .user {
    float: left;
    margin-left: -70px;
    display: inline;
    text-align: center
}

.rev-item .avatar {
    display: block;
    margin-bottom: 5px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden
}

.rev-item .level {
    color: #ea3c1a
}

.rev-item .useful {
    float: right;
    font-size: 14px;
    color: #666;
    line-height: 22px
}

.rev-item .useful:hover {
    text-decoration: none
}

.rev-item .useful i {
    display: inline-block;
    float: left;
    margin-right: 5px;
    width: 20px;
    height: 22px;
    background: url(/images/mdd/place/shopping-icons3.png) no-repeat 0 -110px
}

.rev-item .useful.on i {
    background-position: -30px -110px
}

.rev-item .name {
    font-size: 14px
}

.comment-item .i-enterprise {
    width: 20px;
    height: 20px;
    background: url(/images/home_new2015/ico_enterprise.png) 0 0 no-repeat;
    display: inline-block;
    line-height: 200px;
    overflow: hidden;
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
    top: -2px
}

@media (min-resolution: 1.25dppx),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
    .comment-item .i-enterprise {
        background-size: 30px 20px;
        background-position: -10px 0
    }
}

.rev-item .icon-goldComment {
    display: inline-block;
    margin-left: 3px;
    width: 89px;
    height: 22px;
    background: url(/images/mdd/place/shopping-icons3.png) no-repeat -60px -110px;
    overflow: hidden;
    vertical-align: top
}

.rev-txt {
    margin: 8px 0 10px;
    font-size: 14px;
    line-height: 22px
}

.rev-txt .word-mark {
    background-color: #ffff0e
}

.rev-img {
    margin-bottom: 10px;
    overflow: hidden;
    *zoom: 1
}

.rev-img a {
    float: left;
    margin-right: 10px
}

.rev-item .info {
    margin-top: 5px;
    line-height: 20px
}

.rev-item .time {
    color: #999;
    margin-right: 20px
}

.row .from {
    display: inline-block
}

.rev-item .btn-comment {
    float: right;
    line-height: 22px
}

.comment {
    margin-top: 5px;
    clear: both;
    border-top: 1px solid #eaeaea;
    line-height: 20px
}

.add-comment {
    padding: 5px 0
}

.add-comment textarea {
    width: 858px;
    height: 20px;
    margin: 0;
    padding: 5px;
    border: 1px solid #eaeaea;
    background-color: #fcfcfc;
    font-size: 12px;
    line-height: 20px;
    transition: height .5s ease 0s
}

.add-comment textarea.focus, .add-comment textarea:focus {
    height: 70px;
    border-color: #fa9f00
}

.add-comment .btn {
    float: right;
    margin-top: 5px;
    padding: 0 10px;
    line-height: 26px;
    background-color: #ffa800;
    color: #fff;
    font-size: 14px
}

.add-comment .btn:hover {
    text-decoration: none;
    background-color: #ff8a00
}

.comment li {
    border-bottom: 1px dotted #e7e7e7;
    padding: 5px 10px 5px 35px
}

.comment li img {
    float: left;
    margin: 1px 0 0 -24px
}

.m-pagination {
    padding-right: 0
}

.mod-reviews .more {
    margin-top: 20px;
    text-align: center
}

.mod-reviews .more a {
    display: inline-block;
    width: 160px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #fc9c27;
    line-height: 50px;
    color: #ff9d00;
    font-size: 14px;
    border-radius: 4px;
    text-align: center
}

.mod-reviews .more a:hover {
    background-color: #ff9d00;
    text-decoration: none;
    color: #fff
}

.row-nearby {
    padding: 40px 0
}

.row .mhd {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border: 0 none
}

.poi-list {
    width: 1020px
}

.poi-card {
    float: left;
    width: 320px;
    display: inline;
    margin-right: 20px;
    font-size: 14px
}

.poi-card a {
    display: block
}

.poi-card a:hover {
    text-decoration: none
}

.poi-card a:hover h4 {
    color: #ff9d00
}

.poi-card .img {
    height: 170px
}

.poi-card .info {
    border: 1px solid #eee;
    padding: 15px 20px;
    height: 70px;
    background-color: #fff;
    overflow: hidden
}

.poi-card h4 {
    margin-bottom: 5px;
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;
    color: #333;
    overflow: hidden
}

.poi-card .rev-num {
    float: right;
    color: #999
}

.poi-card .rev-num b {
    color: #ff9d00
}

.poi-card .dist {
    margin-top: 5px;
    color: #666
}

.poi-card .dist em {
    font-style: normal;
    color: #111
}

.poi-card .star {
    display: inline-block;
    color: #ff9d00
}

.poi-card .s-star {
    display: inline-block;
    float: left;
    margin: 3px 3px 0 0
}

.card-slider {
    position: relative
}

.card-slider-box {
    width: 1000px;
    height: 272px;
    position: relative;
    overflow: hidden
}

.card-slider-box ul {
    position: absolute;
    left: 0;
    top: 0;
    height: 272px;
    width: 9999px
}

.card-slider .btn-control {
    position: absolute;
    top: 120px;
    height: 41px;
    width: 24px;
    background: url(/images/mdd/place/shopping-icons3.png) no-repeat -90px -140px;
    cursor: pointer
}

.card-slider .btn-prev {
    left: -43px
}

.card-slider .btn-prev:hover {
    background-position: -140px -140px
}

.card-slider .btn-next {
    right: -43px;
    background-position: -115px -140px
}

.card-slider .btn-next:hover {
    background-position: -165px -140px
}

.mod-promo .mbd {
    background-color: #fff
}

.mod-promo table {
    width: 100%;
    border: 1px solid #eee;
    font-size: 14px;
    color: #333;
    text-align: left;
    line-height: 20px
}

.mod-promo th {
    background-color: #fafafa;
    padding: 10px
}

.mod-promo td {
    padding: 15px 10px;
    border-bottom: 1px dashed #f1f1f1;
    font-size: 14px;
    color: #333
}

.mod-promo .type {
    width: 75px;
    padding-left: 50px
}

.mod-promo .pro {
    width: 530px
}

.mod-promo .price {
    width: 150px
}

.mod-promo td.price {
    color: #ff9d00
}

.mod-promo .btn {
    display: inline-block;
    line-height: 25px;
    background-color: #ff9d00;
    padding: 0 20px;
    border-radius: 4px;
    color: #fff
}

.mod-promo .btn:hover {
    text-decoration: none;
    background-color: #ff8a00
}

.r-title {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px
}

.r-title h2 {
    font-weight: normal;
    font-size: 20px;
    color: #333;
    line-height: 26px
}

.r-title p {
    margin: 10px 0 0
}

.r-title em {
    font-style: normal;
    color: #ff7000
}

.row-hotel .choose {
    display: inline-block;
    margin-bottom: 5px
}

.row-hotel li {
    background: url(/images/img_repalcement.gif) center center no-repeat #e9ebe9;
    color: #fff;
    float: left;
    width: 340px;
    height: 200px;
    display: inline;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden
}

.row-hotel li > a {
    color: #fff
}

.row-hotel li > a:hover {
    text-decoration: none
}

.row-hotel .price {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 0 18px;
    background-color: #4eadf2;
    font-size: 24px;
    line-height: 46px
}

.row-hotel .info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: #000 \9;
    filter: alpha(opacity=85)
}

.row-hotel li h3 {
    margin: 0 15px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    font-size: 20px;
    font-weight: normal
}

.row-hotel li p {
    margin: 0 15px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    color: #ccc
}

.row-hotel .item-large {
    margin-right: 20px;
    width: 620px;
    height: 420px
}

.row-hotel li img, .row-scenic li img, .row-cate li img {
    transition: all 2s ease 0s
}

.row-hotel li a:hover img, .row-scenic li a:hover img, .row-cate li a:hover img {
    transform: scale(1.1)
}

.row-reviewForm {
    padding: 40px 0
}

.sales-cards {
    margin-right: -35px;
    *zoom: 1
}

.sales-cards .item {
    float: left;
    margin-right: 29px;
    width: 312px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    color: #333;
    line-height: 20px
}

.sales-cards .item:hover {
    text-decoration: none;
    color: #ff9d00
}

.sales-cards .thumb {
    height: 212px;
    overflow: hidden
}

.sales-cards .info {
    padding: 15px
}

.sales-cards h3 {
    margin-bottom: 15px;
    height: 40px;
    font-weight: normal;
    font-size: 16px;
    overflow: hidden
}

.sales-cards .num {
    float: right;
    margin-top: 5px;
    font-size: 12px;
    color: #999
}

.sales-cards .price {
    margin-right: 10px;
    color: #ff9d00;
    font-size: 14px
}

.sales-cards .price em {
    font-style: normal;
    font-size: 20px
}

.sales-cards .del {
    color: #999;
    text-decoration: line-through
}

textarea:focus {
    outline: 0
}

a {
    cursor: pointer
}

.clearfix:after {
    content: '';
    clear: both;
    height: 0;
    overflow: hidden;
    display: block
}

.btn-large {
    display: block;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffa800;
    font-size: 16px;
    text-align: center;
    color: #fff
}

.btn-large:hover {
    background-color: #ff8a00;
    text-decoration: none;
    color: #fff
}

.btn-large .icon {
    display: inline-block;
    margin-right: 6px;
    background: url(/images/path/v2/path-sprite16.png) no-repeat;
    vertical-align: -6px
}

.btn-large.btn-loading {
    background-image: url(http://images.mafengwo.net/images/weng/loading3.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffa800;
    cursor: default
}

.btn-large.btn-loading:hover {
    background-color: #ffa800
}

.btn-large.btn-loading span {
    display: none
}

.mfw-reviews h2 {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 400
}

.mfw-reviews h2 strong {
    padding-right: 10px;
    font-size: 22px;
    font-weight: 400;
    color: #444
}

.mfw-reviews h2 em, .review-item .label em {
    font-style: normal;
    color: #ea3c1a
}

.mfw-reviews .review-notice {
    background-color: #f6f6f6;
    padding: 15px 25px;
    line-height: 20px
}

.mfw-reviews.have-reviews {
    padding: 30px 25px;
    background-color: #f7f7f7
}

.mfw-reviews.have-reviews h2 {
    margin-bottom: 15px
}

.mfw-reviews.have-reviews .item-star {
    margin-bottom: 0
}

.mfw-reviews.have-reviews .label {
    width: auto
}

.mfw-reviews.have-reviews .edit-reviews {
    float: left;
    margin-left: 40px;
    font-size: 14px;
    color: #ff8a00;
    line-height: 22px
}

.mfw-reviews.have-reviews .edit-reviews i {
    float: left;
    margin: 2px 5px 0 0;
    background-position: -300px -200px !important
}

.review-item {
    margin-bottom: 20px
}

.review-item:after {
    content: '';
    clear: both;
    height: 0;
    overflow: hidden;
    display: block
}

.review-item .label {
    float: left;
    width: 95px;
    padding-right: 14px;
    font-size: 14px;
    line-height: 20px;
    text-align: right
}

.review-item .txt-tips {
    color: #999;
    padding-left: 10px
}

.review-item.item-star {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px
}

.review-item.item-star .label {
    line-height: 24px
}

.review-item.item-rating {
    margin-bottom: 10px
}

.review-item .content {
    overflow: hidden
}

.review-item.item-comment {
    margin-bottom: 15px
}

.pop-upload textarea, .review-item.item-comment textarea {
    margin-bottom: 3px;
    border: 1px solid #efefef;
    background-color: #efefef;
    padding: 12px 14px;
    width: 90%;
    height: 60px;
    font-size: 12px;
    line-height: 20px;
    overflow: auto;
    resize: none
}

.pop-upload textarea.have, .review-item.item-comment textarea.have {
    border-color: #d6d6d6;
    background-color: #fff
}

.pop-upload textarea:focus, .review-item.item-comment textarea:focus {
    background-color: #fff;
    border-color: #ffa800
}

.review-item.item-comment p {
    color: #999
}

.review-item.item-comment p span {
    float: right
}

.review-item.item-comment p .min-char {
    color: red
}

.review-item.item-comment p .max-char {
    color: #35ae00
}

.review-item.item-photo {
    margin-bottom: 25px
}

.review-item.item-photo .label {
    line-height: 120px
}

.review-item.item-photo p {
    color: #999
}

.review-item .upload-box dd {
    float: left;
    width: 120px;
    height: 120px;
    display: inline;
    margin: 0 10px 10px 0;
    color: #fff
}

.review-item .upload-box .img {
    height: 100%;
    overflow: hidden
}

.review-item .upload-box .title {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 36px;
    padding-top: 4px;
    background: url(/images/path/v2/path-sprite16.png) repeat-x left bottom;
    color: #fff;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    -webkit-transition: opacity .2s linear 0s;
    -moz-transition: opacity .2s linear 0s;
    -o-transition: opacity .2s linear 0s;
    -ms-transition: opacity .2s linear 0s;
    transition: opacity .2s linear 0s;
    filter: alpha(opacity=100);
    opacity: 1
}

.review-item .upload-box .title h4 {
    margin: 0 8px;
    width: 104px;
    height: 40px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.review-item .upload-box .place {
    position: relative;
    height: 100%;
    -webkit-transition: all 1s linear 0s;
    -moz-transition: all 1s linear 0s;
    -o-transition: all 1s linear 0s;
    -ms-transition: all 1s linear 0s;
    transition: all 1s linear 0s
}

.review-item .upload-box .place:hover .mask-operate {
    filter: alpha(opacity=100);
    opacity: 1;
    display: block \9
}

.review-item .upload-box .add-place {
    position: relative;
    display: block;
    height: 120px;
    background: url(/images/path/v2/path-sprite16.png) no-repeat 0 -120px
}

.review-item .upload-box .add-place i {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px;
    width: 44px;
    height: 44px;
    background: url(/images/path/v2/path-sprite16.png) no-repeat -150px -120px
}

.review-item .upload-box .add-place:hover {
    background: #ffc65a;
    -webkit-transition: background .2s linear 0s;
    -moz-transition: background .2s linear 0s;
    -o-transition: background .2s linear 0s;
    -ms-transition: background .2s linear 0s;
    transition: background .2s linear 0s
}

.review-item .upload-box .add-place:hover i {
    background-position: -200px -120px
}

.review-item .upload-box .mask-operate {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    padding: 3px 8px;
    -webkit-transition: opacity .3s ease 0s;
    -moz-transition: opacity .3s ease 0s;
    -o-transition: opacity .3s ease 0s;
    -ms-transition: opacity .3s ease 0s;
    transition: opacity .3s ease 0s;
    filter: alpha(opacity=0);
    opacity: 0;
    display: none \9
}

.mfw-reviews.have-reviews .edit-reviews i, .pop-upload .btn-remove, .review-item .upload-box .mask-operate .btn-edit, .review-item .upload-box .mask-operate .btn-remove {
    display: inline-block;
    width: 18px;
    height: 17px;
    background: url(/images/path/v2/path-sprite16.png) no-repeat -300px -170px
}

.review-item .upload-box .mask-operate .btn-edit:hover {
    background-position: -300px -200px
}

.pop-upload .btn-remove, .review-item .upload-box .mask-operate .btn-remove {
    background-position: -360px -170px;
    width: 14px;
    margin-left: 8px
}

.pop-upload .btn-remove:hover, .review-item .upload-box .mask-operate .btn-remove:hover {
    background-position: -360px -200px
}

.review-item.item-avgprice {
    margin-bottom: 25px;
    line-height: 28px;
    font-size: 14px
}

.review-item.item-avgprice .label {
    line-height: 28px
}

.review-item.item-avgprice input {
    margin-right: 10px;
    width: 140px;
    height: 26px;
    padding: 0 9px;
    font-size: 14px;
    border: 1px solid #efefef;
    background-color: #efefef;
    line-height: 26px
}

.review-item.item-avgprice input.have {
    border-color: #d6d6d6;
    background-color: #fff
}

.review-item.item-avgprice input:focus {
    background-color: #fff;
    border-color: #ffa800
}

.review-item.item-tags {
    margin-bottom: 25px;
    line-height: 26px
}

.review-item.item-tags .label {
    line-height: 26px
}

.review-item.item-tags li {
    float: left;
    display: inline;
    margin: 0 5px 5px 0
}

.review-item.item-tags li a {
    float: left;
    padding: 0 10px;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    line-height: 24px;
    color: #666
}

.review-item.item-tags li a.toggle {
    margin: 6px 0 0 5px;
    padding: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    width: 42px;
    height: 16px;
    background: #ccc url(/images/path/v2/path-sprite16.png) no-repeat -360px -110px;
    overflow: hidden
}

.review-item.item-tags li a.toggle:hover {
    background-color: #ffa800
}

.review-item.item-tags li a.toggle.less {
    background-position: -360px -140px
}

.review-item.item-tags li.select a, .review-item.item-tags li:hover a {
    border-color: #ffa800;
    color: #ff8a00;
    text-decoration: none
}

.review-item.item-action {
    margin: 30px 0 20px 109px
}

.review-item.item-action .btn-large {
    float: left;
    margin-right: 20px;
    width: 130px;
    height: 36px;
    line-height: 36px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px
}

.review-item.item-action .btn-relate {
    float: left;
    line-height: 32px;
    border: 2px solid #ffa800;
    padding: 0 15px;
    color: #ff8a00;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px
}

.review-item.item-action .btn-relate i {
    float: left;
    margin: 7px 8px 0 0;
    width: 16px;
    height: 20px;
    background: url(/images/path/v2/path-sprite16.png) no-repeat -330px -110px;
    overflow: hidden
}

.review-item.item-action .btn-relate:hover {
    text-decoration: none;
    color: #fff;
    border-color: #ffa800;
    background-color: #ffa800
}

.review-item.item-action .btn-relate:hover i {
    background-position: -330px -140px
}

.review-item.item-action .relate-tips {
    padding-left: 10px;
    line-height: 36px;
    font-size: 14px;
    color: #ff8a00
}

.review-item.item-type {
    margin-bottom: 25px
}

.review-item.item-type .label {
    line-height: 20px;
    padding-top: 15px
}

.review-item.item-type .type-btns:after {
    content: '';
    clear: both;
    height: 0;
    overflow: hidden;
    display: block
}

.review-item.item-type .type-btns a {
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 70px;
    background-color: #efefef;
    text-align: center;
    font-size: 14px;
    color: #666;
    overflow: hidden;
    line-height: 18px
}

.review-item.item-type .type-btns a.on, .review-item.item-type .type-btns a:hover {
    text-decoration: none;
    color: #ff7200;
    background-color: #ffc65a
}

.review-item.item-type .type-btns a.on i.icon-business, .review-item.item-type .type-btns a:hover i.icon-business {
    background-position: -450px -40px
}

.review-item.item-type .type-btns a.on i.icon-lovers, .review-item.item-type .type-btns a:hover i.icon-lovers {
    background-position: -490px -40px
}

.review-item.item-type .type-btns a.on i.icon-family, .review-item.item-type .type-btns a:hover i.icon-family {
    background-position: -530px -40px
}

.review-item.item-type .type-btns a.on i.icon-friend, .review-item.item-type .type-btns a:hover i.icon-friend {
    background-position: -570px -40px
}

.review-item.item-type .type-btns a.on i.icon-alone, .review-item.item-type .type-btns a:hover i.icon-alone {
    background-position: -610px -40px
}

.review-item.item-type .type-btns a.on i.icon-walk, .review-item.item-type .type-btns a:hover i.icon-walk {
    background-position: -450px -120px
}

.review-item.item-type .type-btns a.on i.icon-cycle, .review-item.item-type .type-btns a:hover i.icon-cycle {
    background-position: -490px -120px
}

.review-item.item-type .type-btns a.on i.icon-transport, .review-item.item-type .type-btns a:hover i.icon-transport {
    background-position: -530px -120px
}

.review-item.item-type .type-btns a.on i.icon-car, .review-item.item-type .type-btns a:hover i.icon-car {
    background-position: -650px -40px
}

.review-item.item-type .type-btns a.on i.icon-cruise, .review-item.item-type .type-btns a:hover i.icon-cruise {
    background-position: -570px -120px
}

.review-item.item-type .type-btns a.on i.icon-flight, .review-item.item-type .type-btns a:hover i.icon-flight {
    background-position: -610px -120px
}

.review-item.item-type .type-btns a span {
    display: block
}

.review-item.item-type .type-btns a i {
    display: inline-block;
    margin-top: 12px;
    width: 40px;
    height: 30px;
    background: url(/images/path/v2/path-sprite16.png) no-repeat -450px 0;
    overflow: hidden
}

.review-item.item-type .type-btns a i.icon-business {
    background-position: -450px 0
}

.review-item.item-type .type-btns a i.icon-lovers {
    background-position: -490px 0
}

.review-item.item-type .type-btns a i.icon-family {
    background-position: -530px 0
}

.review-item.item-type .type-btns a i.icon-friend {
    background-position: -570px 0
}

.review-item.item-type .type-btns a i.icon-alone {
    background-position: -610px 0
}

.review-item.item-type .type-btns a i.icon-walk {
    background-position: -450px -80px
}

.review-item.item-type .type-btns a i.icon-cycle {
    background-position: -490px -80px
}

.review-item.item-type .type-btns a i.icon-transport {
    background-position: -530px -80px
}

.review-item.item-type .type-btns a i.icon-car {
    background-position: -650px 0
}

.review-item.item-type .type-btns a i.icon-cruise {
    background-position: -570px -80px
}

.review-item.item-type .type-btns a i.icon-flight {
    background-position: -610px -80px
}

.review-item.item-visittime {
    line-height: 28px;
    font-size: 14px
}

.review-item.item-visittime .label {
    line-height: 28px
}

.ui-select {
    float: left;
    width: 160px;
    margin-right: 10px
}

.ui-select .sel-hd {
    position: relative;
    height: 26px;
    border: 1px solid #efefef;
    background-color: #efefef;
    line-height: 26px;
    padding: 0 30px 0 10px;
    cursor: pointer
}

.ui-select .sel-hd em {
    position: absolute;
    right: 0;
    top: 5px;
    width: 24px;
    height: 18px;
    border-left: 1px solid #ddd
}

.ui-select .sel-hd em i {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 0;
    height: 0;
    border-top: 5px solid #ccc;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: top
}

.ui-select.have .sel-hd {
    border-color: #d5d5d5;
    background-color: #fff
}

.ui-select.have .sel-hd em i {
    border-top-color: #fc3
}

.ui-select .sel-bd {
    position: absolute;
    z-index: 5;
    margin-top: -1px;
    border: 1px solid #ffa800;
    width: 158px;
    padding: 5px 0;
    background-color: #fff;
    line-height: 24px
}

.ui-select .sel-bd a {
    display: block;
    padding: 0 10px;
    color: #666;
    text-decoration: none
}

.ui-select .sel-bd a:hover {
    background-color: #efefef;
    color: #ff8a00
}

.review-score, .review-star {
    position: relative;
    float: left;
    display: inline-block;
    width: 127px;
    height: 23px;
    overflow: hidden;
    background: url(/images/path/v2/path-sprite16.png) no-repeat -300px 0;
    vertical-align: middle
}

.review-score span, .review-star span {
    display: inline-block;
    height: 23px;
    background: url(/images/path/v2/path-sprite16.png) no-repeat -300px -30px;
    vertical-align: top
}

.review-score span.star0, .review-star span.star0 {
    width: 0
}

.review-score span.star1, .review-star span.star1 {
    width: 23px
}

.review-score span.star2, .review-star span.star2 {
    width: 49px
}

.review-score span.star3, .review-star span.star3 {
    width: 75px
}

.review-score span.star4, .review-star span.star4 {
    width: 101px
}

.review-score span.star5, .review-star span.star5 {
    width: 127px
}

.review-score .click-star, .review-star .click-star {
    position: absolute;
    left: 0;
    top: 0;
    width: 132px;
    height: 23px
}

.review-score .click-star a, .review-star .click-star a {
    float: left;
    width: 23px;
    height: 23px;
    padding-right: 3px
}

.review-score {
    width: 102px;
    height: 18px;
    background-position: -300px -60px
}

.review-score span {
    height: 18px;
    background-position: -300px -85px
}

.review-score span.star1 {
    width: 18px
}

.review-score span.star2 {
    width: 39px
}

.review-score span.star3 {
    width: 60px
}

.review-score span.star4 {
    width: 81px
}

.review-score span.star5 {
    width: 102px
}

.review-score .click-star {
    width: 110px;
    height: 18px
}

.review-score .click-star a {
    width: 18px;
    height: 18px
}

.pop-upload {
    margin: 0 0 0 -265px;
    top: 5%;
    width: 470px;
    padding: 30px;
    background-color: #fff
}

.pop-upload .close-btn {
    z-index: 2
}

.pop-upload .bd {
    max-height: 540px;
    margin-right: -20px;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-x: auto;
    position: relative
}

.pop-upload li {
    margin-bottom: 10px
}

.pop-upload li:after {
    content: '';
    clear: both;
    height: 0;
    overflow: hidden;
    display: block
}

.pop-upload .img {
    float: left;
    display: inline;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden
}

.pop-upload .img .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #000;
    filter: alpha(opacity=60);
    opacity: .6
}

.pop-upload .img .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100px;
    height: 16px;
    line-height: 16px
}

.pop-upload .img .bar .bg {
    width: 100%;
    display: block;
    background-color: #add75c;
    height: 16px;
    filter: alpha(opacity=80);
    opacity: .8
}

.pop-upload .img .bar span {
    position: absolute;
    right: 5px;
    top: 0;
    z-index: 2;
    color: #fff
}

.pop-upload .img .bar em {
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    background-color: #add75c
}

.pop-upload textarea {
    float: left;
    width: 283px;
    height: 74px;
    margin: 0
}

.pop-upload .btn-remove {
    float: right;
    margin: 42px 0 0 0
}

.pop-upload .action {
    margin: 20px 44px 0 0
}

.pop-upload .action span {
    font-size: 18px
}

.pop-upload .action em {
    padding: 0 5px;
    font-size: 26px;
    font-family: Verdana;
    font-style: normal;
    vertical-align: -3px
}

.pop-upload .action .btn-large {
    float: right;
    width: 130px;
    height: 36px;
    line-height: 36px
}

.pop-relate {
    position: fixed;
    width: 378px;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: none;
    overflow: visible
}

.pop-relate .close-btn {
    display: none
}

.pop-relate .bd {
    height: 135px;
    background-color: #f9f9f9;
    padding: 30px;
    line-height: 26px;
    font-size: 14px;
    color: #444
}

.pop-relate h4 {
    margin: 15px 0 12px;
    font-size: 18px;
    font-weight: 400
}

.pop-relate .ui-select {
    float: none;
    width: 318px
}

.pop-relate .ui-select .sel-hd {
    border-color: #ffc65a;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    overflow: hidden
}

.pop-relate .ui-select .sel-hd em {
    height: 22px;
    border-color: #ffc65a
}

.pop-relate .ui-select .sel-hd em i {
    border-top-color: #ffc65a
}

.pop-relate .ui-select .sel-bd {
    width: 316px;
    line-height: 30px;
    font-size: 14px
}

.pop-relate .ui-select .sel-bd a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.pop-relate .pop-btn .btn {
    display: inline-block;
    margin: 0 3px;
    width: auto;
    padding: 0 20px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    vertical-align: middle
}

.pop-relate .pop-btn .btn:hover {
    text-decoration: none
}

.pop-relate .pop-btn .btn-cancel {
    background-color: #ccc;
    color: #fff
}

.pop-relate .pop-btn .btn-cancel:hover {
    background-color: #999;
    color: #fff
}

.pop-relate .pop-btn .btn-submit {
    margin-left: 20px;
    background-color: #ffa800;
    color: #fff
}

.pop-relate .pop-btn .btn-submit:hover {
    background-color: #ff8a00
}

.pop-relate .success {
    padding-top: 20px;
    text-align: center
}

.pop-revSuccess {
    background-color: #fff;
    text-align: center;
    margin-left: -230px;
    width: 400px;
    padding: 50px 30px
}

.pop-revSuccess h3 {
    font-weight: 400;
    font-size: 24px;
    margin: 30px 0 50px
}

.pop-revSuccess .btn-large {
    width: 100px;
    display: inline-block
}