/** 初始化样式 **/
[v-cloak] {
    display: none;
}

body {
    font-size: 12px;
    font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
    _font-family: Tahoma, Arial, Helvetica, STHeiti;
    color: #666;
}

body,
div,
p,
span,
ul,
ol,
li,
h1,
h3,
dl,
dt,
dd,
b,
h2,
h4,
form {
    padding: 0;
    margin: 0;
}

ul,
li,
dl,
dt,
dd {
    list-style: none;
}

input {
    outline: 0;
}

a {
    text-decoration: none;
    color: #ff9d00;
    cursor: pointer;
}

h1,
h2,
h3 {
    font-weight: normal;
}

.clearfix {
    *zoom: 1
}

.clearfix:after {
    content: '';
    clear: both;
    height: 0;
    display: block;
    overflow: hidden
}


/** 头部样式 **/

.lww_header {
    position: relative;
    z-index: 90;
    height: 68px;
    background-color: #fff;
}

.header_wrap {
    width: 1000px;
    height: 68px;
    margin: 0 auto;
    _overflow: hidden;
    position: relative;
    z-index: 2;
}

.header_logo {
    float: left;
    width: 136px;
    padding: 13px 0;
    height: 32px;
}

.lww_logo {
    display: block;
    height: 39px;
    background: url('../images/header-sprites15.png') no-repeat 0 0;
    position: relative;
}

.header_nav {
    float: left;
    display: inline;
    padding: 0 10px 0 25px;
    line-height: 68px;
    font-size: 14px;
    color: #333;
}

.header_nav li {
    float: left;
}

.header_nav li a {
    display: inline-block;
    padding: 0 16px;
    color: #333;
    vertical-align: top;
    overflow: hidden;
}

.header_nav li a:hover {
    text-decoration: none;
    color: #ff9d00;
    height: 65px;
    border-bottom: 3px solid #ff9d00;
}

.header_nav .header_nav_active a {
    background-color: #ff9d00;
    color: #fff !important;
    text-decoration: none;
}

.icon_caret_down {
    display: inline-block;
    margin: 0 -5px 0 3px;
    height: 0;
    width: 0;
    border-top: 4px solid #666;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    overflow: hidden;
    border-top-color: #666;
    vertical-align: middle;
    transition: transform .5s ease-in-out 0s;
}

.header_nav .header_nav_active a .icon_caret_down {
    border-top: 4px solid #fff;
    border-top-color: #fff;
}

.header_nav li a:hover .icon_caret_down {
    border-top: 4px solid #ff9d00;
    border-top-color: #ff9d00;
}

.header_nav .header_nav_active a:hover .icon_caret_down {
    border-top: 4px solid #fff;
    border-top-color: #fff;
}

.header_search {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 130px;
    height: 68px;
    padding: 16px 0 15px;
}

.header_search input {
    border: 1px solid #efefef;
    background-color: #efefef;
    width: 108px;
    height: 34px;
    padding: 0 10px;
    line-height: 34px;
    font-size: 14px;
    color: #666;
    border-radius: 4px;
    -webkit-transition: width .5s ease 0s;
    transition: width .5s ease 0s;
}

.icon_search {
    position: absolute;
    top: 22px;
    right: 8px;
    width: 20px;
    height: 20px;
    background-image: url('../images/header-sprites15.png');
    background-position: -30px -110px !important;
    overflow: hidden;
}

.header_daka a:hover {
    text-decoration: none;
    color: #fff;
}

.login_info {
    float: right;
}

.head_user {
    float: right;
}

.head_user a {
    display: inline-block;
    color: #666;
    font-size: 14px;
    height: 68px;
    line-height: 68px;
}

.head_user a img {
    display: inline-block;
    /* margin-top: 16px; */
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}

.head_user a .icon_caret_down {
    vertical-align: middle;
}

.header_msg {
    float: right;
    margin-right: 25px;
    height: 68px;
    line-height: 68px;
    cursor: pointer;
}

.header_daka {
    float: right;
    width: 55px;
    margin-right: 25px;
    padding-top: 22px;
}

.header_daka a {
    display: block;
    height: 20px;
    background-color: #1493e3;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border-radius: 4px;
    overflow: hidden;
    font-size: 12px;
}

.shadow {
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 2px;
    border-top: 1px solid #d6d6d6;
    background-color: rgba(0, 0, 0, .06);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#11000000', endColorstr='#11000000');
    overflow: hidden;
}

@media (max-width: 1440px) {
    .lww_header {
        height: 58px;
    }

    .header_wrap {
        height: 58px;
    }

    .header_logo {
        padding: 13px 0;
        height: 32px;
    }

    .lww_logo {
        height: 33px;
        width: 120px;
        background: url('../images/header-small-sprites3.png') no-repeat 0 0;
        background-size: cover;
    }

    .header_nav {
        line-height: 58px;
        font-size: 14px;
    }

    .header_nav li a:hover {
        height: 55px;
    }

    .header_search {
        padding: 14px 0 13px;
        height: 58px;
    }

    .header_search input {
        height: 28px;
        line-height: 28px;
    }

    .icon_search {
        top: 19px;
    }

    .head_user a {
        height: 58px;
        line-height: 58px;
    }

    .head_user a img {
        /* margin-top: 12px; */
    }

    .header_msg {
        height: 58px;
        line-height: 58px;
    }

    .header_daka {
        padding-top: 18px;
    }
}


/** 底部样式 **/

#footer {
    clear: both;
    background-color: #3c3c3c;
    color: #c2c2c2;
    line-height: 22px;
    padding-bottom: 20px;
    font-size: 12px;
}

#footer .ft-content {
    width: 1000px;
    margin: 0 auto;
}

#footer .ft-info {
    padding: 30px 8px 40px 8px;
    border-bottom: 1px solid #575a5b;
}

#footer .ft-info-intro {
    width: 420px;
    margin-right: 68px;
}

#footer .ft-info-col {
    float: left;
    display: inline;
}

#footer .ft-info-about {
    width: 128px;
    margin-right: 85px;
}

#footer .ft-info-service {
    width: 135px;
    margin-right: 80px;
}

#footer .ft-info-qrcode {
    float: right;
    padding-top: 22px;
    line-height: 1.4em;
}

#footer .ft-info-social {
    clear: both;
    text-align: center;
    padding-top: 25px;
}

#footer .ft-info dt {
    height: 30px;
    font-size: 14px;
    overflow: hidden;
}

#footer .ft-info-intro strong {
    color: #ff9d00;
    font-weight: normal;
}

#footer .ft-info-social dd a {
    display: inline-block;
    margin: 0 6px;
}

#footer .ft-social-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/mfw-footer-sprite7.png) no-repeat 0 0;
    overflow: hidden;
}

#footer .ft-social-qqt .ft-social-icon {
    background-position: -30px 0;
}

#footer .ft-social-qzone .ft-social-icon {
    background-position: -60px 0;
}

#footer .ft-info-qrcode dd {
    width: 100px;
    display: inline;
    margin-left: 30px;
    float: right;
    text-align: center;
}

#footer .ft-info-qrcode span {
    display: block;
    height: 90px;
    margin: 0 0 8px 6px;
}

#footer .ft-qrcode-tejia {
    background: url(../images/qrcode.jpg) no-repeat;
}

#footer .ft-qrcode-weixin {
    background: url(../images/qrcode.jpg) no-repeat;
}

#footer .ft-info-service dt {
    text-align: center;
}

#footer .ft-info-service dd {
    width: 100%;
    overflow: hidden;
}

#footer .ft-info-service ul {
    margin-right: -35px;
}

#footer .ft-info-service li {
    float: left;
    width: 85px;
}

#footer a {
    color: #c2c2c2;
}

.m_l_10 {
    margin-left: 10px;
}

.highlight {
    color: #ff9d00 !important;
}

#footer .ft-links {
    margin-top: -1px;
    border-top: 1px solid #575a5b;
    /* border-bottom: 1px solid #575a5b; */
    padding: 17px 0 0px 8px;
}

#footer .ft-links a {
    display: inline-block;
    margin-right: 12px;
}

#footer .ft-copyright {
    padding: 12px 0 12px 7px;
    margin-top: -1px;
    border-top: 1px solid #575a5b;
}

#footer .ft-mfw-logo {
    float: left;
    margin: 2px 20px 0 0;
    width: 136px;
    height: 39px;
    background: url(../images/mfw-footer-sprite7.png) no-repeat 0 -30px;
    overflow: hidden;
}

#footer .ft-safety {
    text-align: center;
}

#footer .ft-safety a {
    display: inline-block;
    margin-left: 10px;
    width: 90px;
    height: 30px;
    background: url(../images/mfw-footer-sprite7.png) no-repeat 0 -70px;
    overflow: hidden;
}

#footer .ft-safety .s-b {
    background-position: 0 -110px;
}

#footer .ft-info-social dt {
    font-size: 16px;
}


/** 翻页组件样式 **/

.m-pagination {
    padding: 20px 5px;
    line-height: 24px;
    text-align: right;
    font-size: 12px;
    color: #999;
}

.m-pagination .count {
    padding-right: 12px;
}

.m-pagination .pg-first,
.m-pagination .pg-prev,
.m-pagination .pg-next,
.m-pagination .pg-last,
.m-pagination .pg-current {
    background-color: #ff9d00;
}

.m-pagination .pg-first,
.m-pagination .pg-prev,
.m-pagination .pg-next,
.m-pagination .pg-last,
.m-pagination .pg-current {
    display: inline-block;
    margin-right: 5px;
    background-color: #ff9d00;
    padding: 0 5px;
    border-radius: 4px;
    color: #fff;
    vertical-align: middle;
}

.m-pagination .pi {
    display: inline-block;
    margin-right: 1px;
    margin-left: 1px;
    padding: 0 7px;
    border: 0 none;
    background: 0;
    border-radius: 4px;
    color: #666;
    vertical-align: middle;
}

.m-pagination .pg-current {
    padding: 0 7px;
}

.m-pagination .pg-next {
    margin: 0;
}

.m-pagination .pg-first:hover,
.m-pagination .pg-prev:hover,
.m-pagination .pg-next:hover,
.m-pagination .pg-last:hover {
    background-color: #ff8a00;
    color: #fff;
    text-decoration: none;
}

.m-pagination .pi:hover {
    background-color: #efefef;
    border: 0 none;
    text-decoration: none;
    color: #666;
}

.popup-box {
    position: fixed;
    _position: absolute;
    z-index: 1001;
    width: 380px;
    height: auto;
    top: 40%;
    left: 50%;
    margin: -140px 0 0 -190px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    border: none\9 \0;
    overflow: hidden;
}

.pop_no_margin {
    margin: 0 !important;
    width: auto;
}

.new-popbox {
    width: 419px;
    background-color: #fff;
}

.popup-box a.close-btn {
    width: 28px;
    height: 19px;
    padding: 8px 0 0 8px;
    background: url(../images/popctn_bg.png) 0 -165px no-repeat;
    _background: url(../images/popctn_bg4.gif) 0 -165px no-repeat;
    outline: 0;
    position: absolute;
    right: 0;
    top: 11px;
    display: block;
}

.popup-box a.close-btn {
    width: 36px;
    height: 26px;
    background: url(../images/popctn_bg2.png) no-repeat 0 -280px;
    padding: 0;
}

.popup-box .pop-ico,
.popup-box .pop-ctn {
    background-color: #f4f3f0;
    text-align: center;
}

.new-popbox .pop-ico,
.new-popbox .pop-ctn,
.new-popbox .pop-con {
    background: 0;
}

.popup-box .pop-ico,
.popup-box .pop-ctn {
    background-color: #f4f3f0;
    text-align: center;
}

.new-popbox .pop-ico,
.new-popbox .pop-ctn,
.new-popbox .pop-con {
    background: 0;
}

.new-popbox .pop-ctn {
    margin-bottom: 20px;
    min-height: 60px;
}

.new-popbox .pop-btns {
    border-top: 1px solid #e5e5e5;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0;
}

.popup-box a.close-btn i {
    width: 9px;
    height: 9px;
    background: url(../images/i_cross.gif) no-repeat;
    display: block;
    transition: 1s ease-in-out 0s;
    -moz-transition: 1s ease-in-out 0s;
    -webkit-transition: 1s ease-in-out 0s;
    -o-transition: 1s ease-in-out 0s;
    -webkit-backface-visibility: hidden;
}

.popup-box a.close-btn i {
    margin: 2px;
    width: 22px;
    height: 22px;
    background: url(../images/popctn_bg2.png) no-repeat -40px -280px;
    overflow: hidden;
}

.popup-box .pop-ico i {
    width: 55px;
    height: 55px;
    display: inline-block;
    background: url(../images/popctn_bg.png) no-repeat;
    _background: url(../images/popctn_bg4.gif) no-repeat;
    margin: 34px 0 14px;
}

.new-popbox .pop-ico i {
    margin: 40px 0 20px;
    width: 68px;
    height: 68px;
    background: url(../images/popctn_bg2.png) no-repeat 0 0;
}

.popup-box .pop-ico i.i1 {
    background-position: 0 0;
}

.new-popbox .pop-ico i.i1 {
    background-position: 0 -140px;
}

.popup-box .pop-ctn p.hd {
    font-size: 14px;
    color: #444;
    padding: 0 20px;
}

.new-popbox .pop-ctn p.hd {
    font-size: 18px;
    color: #333;
    line-height: 1.8em;
}

.popup-box .pop-ctn p.bd {
    font-size: 12px;
    color: #666;
    line-height: 1.8em;
    padding: 10px 0;
    min-height: 16px;
}

.new-popbox .pop-ctn p.bd {
    padding: 0;
    font-size: 14px;
    color: #666;
}

.new-popbox .popbtn {
    display: block;
    font-size: 16px;
    -webkit-transition: background .1s linear 0s;
    transition: background .1s linear 0s;
    border-radius: 0 0 4px 4px;
    outline: 0;
}

.new-popbox .popbtn-submit {
    color: #ff9d00;
}

.new-popbox .popbtn:hover {
    text-decoration: none;
}

.new-popbox .popbtn-submit:hover {
    color: #fff;
    background-color: #ff9d00;
    margin-top: -1px;
    border-top: 1px solid #ff9d00;
}

.popup-box a.close-btn:hover i {
    -moz-transform: scale(1.1) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -moz-transition: 1s ease-in-out 0s;
    -webkit-transition: 1s ease-in-out 0s;
}

#over_container {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -170px;
    width: 350px;
    z-index: 1000;
    background: #dbf1fd;
    border: 5px solid #70c8f8;
    color: #000;
}

#over_message {
    text-align: center;
    padding: 8px 20px;
    font-size: 14px;
}

.mfw-toolbar {
    position: fixed;
    right: 50%;
    bottom: 20px;
    height: auto;
    margin-right: -558px;
    display: none;
    z-index: 10;
}

body .mfw-toolbar {
    z-index: 101;
}

.toolbar-item-top, .toolbar-item-feedback, .toolbar-item-code, .toolbar-item-down {
    margin-bottom: -1px;
}

.toolbar-item-code {
    position: relative;
}

.mfw-toolbar .btn {
    width: 43px;
    height: 43px;
    display: block;
    border: 1px solid #e5e5e5;
    text-align: center;
    background-color: #fff;
    position: relative;
}

.mfw-toolbar i {
    background: url(../images/header-sprites9.png) no-repeat 0 0;
    display: inline-block;
}

.mfw-toolbar .icon_top {
    width: 21px;
    height: 12px;
    background-position: -60px -165px;
    margin-top: 16px;
}

.mfw-toolbar .btn em {
    width: 35px;
    background-color: #aaa;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    font-style: normal;
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: 2;
    display: none;
    padding: 5px 4px 0 4px;
    height: 38px;
    border: 1px solid #aaa;
}

.mfw-toolbar .btn {
    width: 43px;
    height: 43px;
    display: block;
    border: 1px solid #e5e5e5;
    text-align: center;
    background-color: #fff;
    position: relative;
}

.mfw-toolbar i {
    background: url(../images/header-sprites9.png) no-repeat 0 0;
    display: inline-block;
}

.mfw-toolbar .icon_feedback {
    width: 18px;
    height: 18px;
    background-position: -90px -165px;
    margin-top: 13px;
}

.toolbar-item-code .mfw-code {
    border: 1px solid #e5e5e5;
    display: none;
    position: absolute;
    right: 55px;
    bottom: 0;
    background-color: #fff;
    padding: 6px;
    color: #999;
}

.mfw-toolbar .icon_code {
    width: 19px;
    height: 19px;
    background-position: -120px -165px;
    margin-top: 13px;
}

.view_title .bar_share a.bs_btn i.on-i02 {
    background-position: -211px -576px;
}

/*---------------------------------*/
.login-out {
    float: right;
    padding: 21px 0;
    height: 26px;
    line-height: 26px;
    color: #c9c9c9;
    text-align: right;
}

.login-out .weibo-login, .login-out .qq-login, .login-out .weixin-login {
    display: inline-block;
    margin-right: 6px;
    width: 26px;
    height: 26px;
    background-image: url(/images/header-sprites15.png);
    background-position: 0 -50px !important;
    overflow: hidden;
    vertical-align: -7px;
    *vertical-align: middle;
}

.login-out a {
    font-size: 14px;
}

.login-out .weixin-login {
    background-position: 0 -165px !important;
}

.login-out .qq-login {
    background-position: -30px -50px !important;
}