img {
    border: 0;
    vertical-align: middle;
}

a:hover {
    outline: 0;
    text-decoration: underline;
    color: #ff8a00;
}

.mfw-header {
    height: 68px;
    background-color: #fff;
    position: relative;
    z-index: 90;
}

.mfw-header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
}

.header-place-default .header_logo .lww_logo {
    background: url(/images/mfw-logo-white4.png) no-repeat;
}

.header-place-default .header_nav li a {
    color: #fff;
}

.header-place-default .login_info .header_msg {
    color: #fff;
}

.header-place-default .icon_caret_down {
    border-top: 4px solid #fff;
    border-top-color: #fff;
}

.header-place-default {
    background: transparent;
}

.header-place-default .shadow {
    display: none;
}

.header-place-default .shadow {
    border: none;
}

.container {
    min-width: 1000px;
}

.place-focus {
    position: relative;
}

.tiles-item .title, .show-banner .show-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 12px 20px 0;
    height: 57px;
    line-height: 56px;
    font-size: 24px;
    font-weight: normal;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.4) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000', GradientType=0);
    -webkit-transition: opacity .5s ease 0s;
    transition: opacity .5s ease 0s;
}

.show-banner .show-info {
    position: absolute;
    right: 5%;
    top: 50%;
    margin-top: -100px;
    text-align: right;
    width: 205px;
    height: 205px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
    color: #fff;
    white-space: nowrap;
}

.show-info-notes .show-info {
    margin-top: -120px;
    padding-right: 30px;
    border-right: 7px solid #fff;
    width: 550px;
    height: 285px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    color: #fff;
    font-size: 16px;
    line-height: 1.8;
    white-space: normal;
    text-align: left;
    margin-right: 100px;
}

.show-banner .cover {
    background: #ccc;
}

.show-info-notes .show-info-sm {
    width: 535px;
    height: 170px;
    margin-right: auto;
}

.show-banner .show-ft {
    position: absolute;
    right: 40px;
    bottom: 20px;
}

.show-arrdown {
    position: absolute;
    bottom: 24px;
    left: 50%;
    margin-left: -18px;
    width: 36px;
    height: 20px;
    background: url(/images/place-sprites3.png) no-repeat -30px -60px;
    overflow: hidden;
}

.show-banner .show-info, .show-banner .show-ft, .show-banner .show-arrdown {
    z-index: 1;
}

.show-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

a.bigimg {
    display: block;
    position: relative;
    overflow: hidden;
}

a.bigimg .shade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.show-info-notes .owner {
    line-height: 20px;
}

.show-info-notes .show-info-sm .owner {
    font-size: 14px;
}

.show-banner .show-name {
    position: absolute;
    top: 30px;
    right: 175px;
    font-size: 20px;
    text-align: center;
}

.show-banner .show-info-sm .show-name {
    top: 45px;
}

.show-banner .show-info .location {
    position: absolute;
    top: 130px;
    right: 140px;
    font-size: 18px;
}

.show-info-notes .show-name {
    position: static;
    margin: 10px 0;
    font-size: 40px;
    line-height: 1.3;
    text-align: left;
}

.show-banner .show-info a {
    color: #fff;
}

.show-banner .show-name a {
    text-decoration: none;
}

.show-info-notes .show-name a {
    color: #fff;
}

.show-banner h2 {
    font-size: 50px;
    line-height: 50px;
}

.show-banner .show-info-sm h2 {
    font-size: 30px;
    line-height: 30px;
}

.show-info-notes .show-info h2 {
    font-weight: normal;
    line-height: inherit;
}

.show-banner .show-info-sm span {
    font-size: 14px;
}

.show-banner .show-info-sm .location {
    font-size: 16px;
    top: 120px;
}

.show-info-notes .show-info .location {
    position: static;
}

.show-banner .show-links {
    position: absolute;
    top: 170px;
    right: 58px;
    font-size: 24px;
}

.show-info-notes .show-links {
    position: static;
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    text-decoration: underline;
    font-size: 24px;
}

.show-banner .show-info-sm .show-links {
    font-size: 18px;
    top: 160px;
}

.show-banner .show-links a {
    text-decoration: underline;
}

.show-banner .show-info a {
    color: #fff;
}

.show-banner .show-ft-item {
    float: left;
    margin-left: 15px;
}

.show-banner .pic-from {
    position: relative;
}

.show-banner .pic-from i {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(/images/place-sprites3.png) no-repeat 0 0;
    overflow: hidden;
}

.show-banner .pic-from-pop {
    visibility: hidden;
}

.show-banner .pic-from-pop {
    position: absolute;
    right: 25px;
    top: 0;
    white-space: nowrap;
    color: #333;
}

.show-banner .pic-from-pop span {
    display: inline-block;
    margin-right: 5px;
    background-color: #fff;
    background-color: rgba(255, 255, 255.9);
    border-radius: 4px;
    line-height: 25px;
    height: 25px;
    padding: 0 10px;
}

.show-banner .pic-from-pop em {
    position: absolute;
    right: 1px;
    top: 8px;
    border-left: 4px solid #fff;
    border-top: 4px dashed transparent;
    border-bottom: 4px dashed transparent;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
}

.show-banner .pic-from-pop a {
    color: #333;
}

.place-search-panel {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    margin: -71px 0 0 -500px;
    width: 400px;
    padding: 15px;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 4px;
}

.show-banner .show-icon-download {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(/images/place-sprites3.png) no-repeat -30px 0;
    overflow: hidden;
}

.show-banner .show-icon-calendar {
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    background: url(/images/place-sprites3.png) no-repeat -60px 0;
    overflow: hidden;
}

.show-banner .btn-share {
    display: inline-block;
    width: 78px;
    height: 23px;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    line-height: 23px;
}

.show-banner .btn-share i {
    display: inline-block;
    margin-right: 5px;
    width: 13px;
    height: 14px;
    background: url(/images/place-sprites3.png) no-repeat 0 -30px;
    vertical-align: middle;
}

.show-banner .pop-share {
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 132px;
    height: 36px;
    padding: 8px 10px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.show-banner .pop-share a {
    display: inline-block;
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    margin-right: 12px;
    text-align: center;
}

.show-banner .pop-share i {
    display: inline-block;
    margin-top: 8px;
    width: 26px;
    height: 22px;
    background: url(/images/place-sprites3.png) no-repeat 0 -90px;
    vertical-align: top;
    overflow: hidden;
}

.show-banner .pop-share .s-qzone {
    background-color: #3f8bc0;
}

.show-banner .pop-share .s-weibo {
    background-color: #d84c4c;
}

.show-banner .pop-share .s-weixin {
    margin-right: 0;
    background-color: #73a64f;
}

.show-banner .pop-share .s-weixin i {
    background-position: -60px -90px;
}

.show-banner .pop-share .s-qzone i {
    margin-top: 7px;
    height: 23px;
    background-position: -30px -90px;
}

.place-search-panel-sm {
    width: 360px;
    margin-top: -66px;
}

.place-search-panel h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1;
    font-family: "Microsoft Yahei";
}

.place-search-panel-sm .searchbar {
    height: 36px;
}

.place-search-panel-sm .search-input {
    width: 268px;
}

.place-search-panel-sm .search-input, .place-search-panel-sm .search-button {
    height: 36px;
    line-height: 1;
}

.place-search-panel .search-input {
    float: left;
    width: 308px;
    height: 46px;
    margin: 0 6px 0 0;
    padding: 0 20px;
    background-color: #fff;
    border: 0 none;
    line-height: 46px;
    font-size: 18px;
    color: #111;
    border-radius: 4px;
}

.place-search-panel .search-button {
    float: left;
    width: 45px;
    height: 46px;
    background-color: #ff9d00;
    border-radius: 4px;
    text-align: center;
}

.place-search-panel-sm .search-button {
    height: 36px;
    width: 36px;
}

.place-search-panel-sm .search-input, .place-search-panel-sm .search-button {
    height: 36px;
    line-height: 1;
}

.place-search-panel .icon-search {
    display: inline-block;
    margin-top: 11px;
    width: 24px;
    height: 24px;
    background: url(/images/header-sprites.png) no-repeat 0 -110px;
    overflow: hidden;
    vertical-align: top;
}

.place-search-panel-sm .icon-search {
    margin-top: 5px;
}

.search-suggest-panel {
    position: absolute;
    z-index: 100;
    min-width: 398px;
    margin-top: 6px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
}

.search-suggest-panel li {
    padding: 0 56px;
    line-height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.place-search-panel-sm .search-input {
    width: 268px;
}

.search-suggest-panel li:hover, .search-suggest-panel .active {
    background-color: #f2f2f2;
}

.search-suggest-place .active, .search-suggest-place li:hover, .search-suggest-place .active b, .search-suggest-place li:hover b {
    color: #ff9d00;
}

.search-suggest-panel .sicon-place {
    background-position: 0 0;
}

.search-suggest-panel [class|="sicon"] {
    float: left;
    margin: 8px 0 0 -36px;
    width: 24px;
    height: 24px;
    background: url(http://images.mafengwo.net/images/suggest-sprite5.png) no-repeat;
}

.search-suggest-panel .skey {
    margin-right: 12px;
}

.search-suggest-panel li {
    padding: 0 56px;
    line-height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.search-suggest-place .active, .search-suggest-place li:hover, .search-suggest-place .active b, .search-suggest-place li:hover b {
    color: #ff9d00;
}

.place-search-hot {
    font-size: 14px;
    margin-top: 15px;
    line-height: 16px;
}

.place-search-hot a {
    margin-right: 10px;
    color: #fff;
}

.head_user a .icon_caret_down {
    vertical-align: middle;
}

.show-banner .show-info a:hover {
    color: #ff9d00;
}

.row {
    padding: 40px 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.row .r-title {
    margin-bottom: 35px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.r-navbar {
    margin: -10px 0 30px;
    text-align: center;
    font-size: 18px;
    color: #eee;
    line-height: 22px;
}

.row .r-title h2 {
    margin-bottom: 8px;
    font-size: 26px;
    font-weight: normal;
    color: #333;
    line-height: 26px;
}

.r-navbar a {
    color: #333;
    display: inline-block;
    margin: 0 25px;
    vertical-align: top;
}

.r-navbar .divide {
    display: inline-block;
    margin-top: 3px;
    width: 1px;
    height: 15px;
    background-color: #eee;
    overflow: hidden;
    line-height: 100px;
    vertical-align: top;
}

.hot-list {
    line-height: 24px;
    font-size: 14px;
}

.hot-list .col {
    float: left;
    width: 470px;
}

.hot-list dl {
    border-bottom: 1px dashed #eee;
    padding: 20px 0 20px 100px;
}

.hot-list dt {
    float: left;
    font-size: 16px;
    color: #333;
    margin-left: -100px;
}

.hot-list dt a {
    color: #333;
    text-decoration: underline;
}

.hot-list dd a {
    margin-right: 10px;
    color: #666;
}

.hot-list a:hover {
    color: #ff8a00;
}

.r-navbar .on {
    padding-bottom: 12px;
    color: #ff9d00;
    border-bottom: 3px solid #ff9d00;
}

.r-navbar a:hover {
    text-decoration: none;
    color: #ff9d00;
}

.hide {
    display: none;
}

.row-bg {
    background-color: #fafafa;
}

.row-line {
    height: 1px;
    background-color: #e4e4e4;
    overflow: hidden;
}

.tiles {
    margin: -10px -20px -10px 0;
    overflow: hidden;
}

.tiles .item.col3 {
    width: 323px;
}

.tiles .item {
    float: left;
    display: inline;
    margin: 10px 15px 10px 0;
    width: 238px;
    height: 220px;
    position: relative;
    background-color: #f2f2f2;
    font-size: 20px;
}

.tiles .item a {
    display: block;
    color: #fff;
    transition: all .2s ease-in 0s;
}

.tiles .item .title {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 12px 20px 0;
    height: 57px;
    line-height: 56px;
    font-weight: normal;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.4) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000', GradientType=0);
    -webkit-transition: opacity .5s ease 0s;
    transition: opacity .5s ease 0s;
}

.row-bg {
    background-color: #fafafa;
}

.row-list:last-child {
    margin: 0;
}

.row-list .hd {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 30px;
    font-weight: normal;
}

.row-list .hd span {
    font-size: 14px;
    color: #a8a8a8;
}

.row .btn-add {
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    color: #ff9d00;
}

.row .btn-add i {
    float: left;
    margin-right: 5px;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    vertical-align: middle;
}

.row-list dl {
    margin-bottom: 50px;
}

.row-list dt {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 22px;
}

.row-list dd {
    margin-left: -22px;
}

.row-list ul {
    float: left;
    width: 282px;
    padding-left: 30px;
    display: inline;
    margin-left: 22px;
    line-height: 30px;
    font-size: 14px;
}

.row-list .letter {
    float: left;
    margin-left: -30px;
    width: 30px;
    overflow: hidden;
    padding: 0;
    display: inline;
    font-size: 20px;
    font-family: Centaur, Times New Roman;
    text-transform: uppercase;
}

.row-list dd a {
    color: #666;
}

.row-list .bd {
    overflow: hidden;
}

.row-list .icon-label {
    position: absolute;
    margin: 8px 0 0 5px;
    width: 32px;
    height: 14px;
    background: url(/images/plaInd-sprite3.png) no-repeat -555px 0;
    overflow: hidden;
    font-size: 14px;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    line-height: 100px;
    overflow: hidden;
    vertical-align: top;
}

.row-list .texas {
    background-color: #9f4d31;
    color: #fefefe;
    font-size: 12px;
    font-family: sans-serif, Verdana, "Microsoft Yahei", Helvetica, "微软雅黑", "宋体";
    margin-left: 40px;
    overflow: hidden;
    padding: 1px 3px;
    vertical-align: top;
    text-decoration: none;
}

@media (max-width: 1440px) {
    .mfw-header {
        height: 58px;
    }

    .header-place-default .header_logo .lww_logo {
        background: url(/images/mfw-logo-white-small3.png) no-repeat 0 0;
    }

    .head_user a img {
        margin-top: -2px;
    }
}