a:hover {
    outline: 0;
    text-decoration: underline;
    color: #ff8a00;
}

.container {
    background-color: #fafafa;
}

.row-top {
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.row-list {
    padding: 30px 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.filter-title {
    margin: 10px 0 15px;
    font-size: 24px;
    color: #333;
}

.crumb {
    height: 20px;
    padding: 15px 0;
    color: #666;
    font-size: 12px;
    line-height: 20px;
}

.crumb .item {
    float: left;
}

.crumb a {
    color: #666;
    font-size: 12px;
}

.crumb .item em {
    margin: 0 6px;
    color: #999;
    font-family: 'simsun';
    font-style: normal;
}

.filter-nav dl {
    padding: 5px 0 5px 60px;
    border-bottom: 1px dotted #efefef;
    line-height: 15px;
}

.filter-nav dt {
    float: left;
    display: inline;
    margin-left: -60px;
    padding: 10px 0;
    width: 60px;
    font-size: 16px;
    color: #333;
}

.filter-nav dd a {
    float: left;
    margin: 10px 15px 10px 0;
    padding-right: 15px;
    font-size: 14px;
    height: 15px;
    border-right: 1px solid #eee;
    color: #666;
}

.filter-nav .sub-nav dt {
    width: 85px;
    margin-left: -85px;
    font-size: 14px;
}

.filter-nav .sub-nav {
    overflow: hidden;
}

.filter-nav .sub-nav dl {
    padding: 0 0 0 85px;
    border-bottom: 0;
}

.filter-nav dd a:hover {
    color: #ff9d00;
}

.filter-nav dd a.on {
    color: #ff9d00;
}

.row-list ul {
    margin-right: -25px;
    margin-bottom: -20px;
}

.row-list .item {
    float: left;
    width: 320px;
    display: inline;
    margin: 0 20px 20px 0;
    font-size: 14px;
    height: auto;
}

.row-list .img {
    height: 200px;
    overflow: hidden;
    position: relative;
}

.row-list .title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 40px 10px 20px;
    text-align: center;
    font-size: 24px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#aa000000', GradientType=0);
}

.row-list .info {
    background-color: #fff;
    padding: 15px 19px;
    border: 1px solid #f2f2f2;
    border-top: 0 none;
}

.row-list .detail {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    color: #333;
}

.row-list .hot {
    width: 280px;
    height: 20px;
    margin: 15px 0;
    padding: 12px 0;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.row-list .hot .label {
    float: left;
    margin-right: 15px;
    color: #ff9d00;
}

.row-list .hot a {
    color: #666;
}

.row-list .hot .divide {
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #dadada;
    margin: 0 8px;
    overflow: hidden;
}

.row-list .line {
    margin-top: 15px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
}

.row-list .info {
    background-color: #fff;
    padding: 15px 19px;
    border: 1px solid #f2f2f2;
    border-top: 0 none;
}

.row-list .line a {
    color: #666;
}

.row-list .line em {
    float: left;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background-color: #a4d5f1;
    color: #fff;
    text-align: center;
    border-radius: 1px;
    font-style: normal;
}

.row-list .hot a:hover, .row-list .line a:hover {
    color: #ff9d00;
}
