<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>目的地管理</title>
    <div th:replace="common/header :: header"></div>
    <script type="text/javascript">
        $(function () {


            //编辑/添加
            $(".inputBtn").click(function () {
                //弹出模态框
                $("#editModal").modal("show");

                $("#treeview").html("");
                //数据复原
                $("#editForm").clearForm(true);

                //目的地回显数据
                var data = $(this).data("json");
                if (data) {
                    $("input[name='id']").val(data.id);

                    $("textarea[name='info']").val(data.info);

                }
            })

            $(".submitBtn").click(function () {
                //模态框表单提交
                $("#editForm").ajaxSubmit(function (data) {
                    if (data.success) {
                        window.location.reload();
                    } else {
                        $.messager.alert("温馨提示", data.msg)
                    }
                })
            })

            //查询
            $(".clickBtn").click(function () {
                var parentId = $(this).data("parentid");
                $("#parentId").val(parentId);
                $("#currentPage").val(1);
                $("#searchForm").submit();
            })

            //修改热门
            $(".hotBtn").click(function () {
                var hot = $(this).data("hot");
                var id = $(this).data("id");
                $.get("/destination/changeHotValue", {hot: hot, id: id}, function (data) {
                    if (data.success) {
                        window.location.reload();
                    } else {
                        $.messager.alert("温馨提示", data.msg);
                    }
                })
            })

        })
    </script>
</head>
<body>


<div class="container-fluid " style="margin-top: 20px">
    <div th:replace="common/top :: top"></div>
    <div class="row">
        <div class="col-sm-2" th:with="currentMenu='destination'">
            <div th:replace="common/menu :: menu"></div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="page-head-line">目的地管理</h1>
                </div>
            </div>
            <!--高级查询--->
            <form class="form-inline" id="searchForm" action="/destination/list" method="post">
                <input type="hidden" name="currentPage" id="currentPage" value="1">
                <input type="hidden" name="parentId" id="parentId" th:value="${qo.parentId}">
                <div class="form-group">
                    <label for="keyword">关键字:</label>
                    <input type="text" class="form-control" id="keyword" name="keyword" th:value="${qo.keyword}"
                           placeholder="请输入名称">
                </div>

                <button type="button" class="btn btn-primary clickBtn" th:data-parentid="${qo.parentId}"><span
                        class="glyphicon glyphicon-search"></span> 查询
                </button>

                <h4>
                    当前位置: <a href="javascript:;" data-parentid="" class="clickBtn">根</a>
                    <span th:each="t:${toasts}"> >> <a href="javascript:;" th:data-parentid="${t.id}" class="clickBtn"
                                                       th:text="${t.name}"></a></span>
                </h4>

            </form>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>英文</th>
                    <th>上级</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tr th:each="entity,entityStat : ${page.records}">
                    <td th:text="${entityStat.index+1}"></td>
                    <td><a th:href="@{'/destination/list?parentId='+${entity.id}}" th:text="${entity.name}"></a></td>
                    <td th:text="${entity.english}"></td>
                    <td th:text="${entity.parentName}">顶级</td>
                    <td>
                        <a class="btn btn-info btn-xs inputBtn" href="javascript:;" th:data-json='${entity.jsonString}'>
                            <span class="glyphicon glyphicon-edit"></span> 编辑
                        </a>

                        <a href="javascript:;" class="btn btn-danger btn-xs deleteBtn"
                           th:data-url="@{'/destination/delete?id=' +${entity.id}}">
                            <span class="glyphicon glyphicon-trash"></span> 删除
                        </a>
                    </td>
                </tr>
            </table>
            <div th:replace="common/page :: page"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">目的地简介</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="/destination/updateInfo" method="post" id="editForm">
                    <input type="hidden" value="" name="id">

                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea rows="10" cols="68" name="info"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submitBtn">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
