<meta th:fragment="header" charset="UTF-8">
<meta th:fragment="header" name="viewport" content="width=device-width, initial-scale=1">
<link th:fragment="header" rel="stylesheet" href="/js/bootstrap/css/bootstrap.css" type="text/css"/>
<link th:fragment="header" rel="stylesheet" href="/css/core.css" type="text/css"/>
<script th:fragment="header" type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script th:fragment="header" type="text/javascript" src="/js/bootstrap/js/bootstrap.js"></script>
<script th:fragment="header" type="text/javascript" src="/js/plugins/jquery-form/jquery.form.js"></script>
<script th:fragment="header" type="text/javascript" src="/js/plugins/messager/jquery.bootstrap.min.js"></script>
<script th:fragment="header" type="text/javascript"
        src="/js/plugins/twbsPagination/jquery.twbsPagination.min.js"></script>
<script th:fragment="header" type="text/javascript" src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script th:fragment="header" type="text/javascript" src="/js/plugins/jquery-validation/message/messages_cn.js"></script>
<script th:fragment="header" type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
<!--最后引入-->
<script th:fragment="header" type="text/javascript" src="/js/system/commonAll.js"></script>
