<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link href="/styles/base.css" rel="stylesheet" type="text/css">
    <link href="/styles/travelspot.css" rel="stylesheet" type="text/css">
    <link href="/styles/spot.css" rel="stylesheet" type="text/css">
    <link href="/styles/select.css" rel="stylesheet" type="text/css">
    <link href="/js/plugins/jqPaginator/jqPagination.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jqPaginator/jq-paginator.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery-form/jquery.form.js"></script>
    <script src="/js/vue/md5.js"></script>
    <script src="/js/plugins/js-cookie/js.cookie.min.js"></script>
    <script type="text/javascript" src="/js/vue/common.js"></script>

</head>
<body>
<div id="navbar">
    <!--导航栏-->
    <script>
        var currentNav = "destination";
        $('#navbar').load('/views/common/navbar.html');
    </script>
</div>
<div id="app" v-cloak>
    <div id="container">
        <div class="row row-top">
            <div class="wrapper">
                <!-- POI名称 S-->
                <div class="title">
                    <h1>广州塔</h1>
                    <div class="en">Canton Tower</div>
                </div>
                <!-- POI名称 E-->
            </div>
        </div>

        <div data-anchor="overview">
            <div class="row row-picture row-bg">
                <div class="wrapper">
                    <a class="photo" data-cs-p="相册" href="/photo/poi/25091.html" target="_blank">
                        <div class="bd">
                            <div class="pic-big"><img src="/images/test/spot/CoUBGV5L9OWAZZi2AABvoUQlkAU90.jpeg"
                                                      width="690" height="370"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="mod mod-detail" data-cs-p="概况">
                <div class="summary" v-bind="content.introduce">
                </div>

                <ul class="baseinfo clearfix">
                    <li class="tel">
                        <div class="label">电话</div>
                        <div class="content">{{spot.phone}}</div>
                    </li>
                    <li class="item-site">
                        <div class="label">网址</div>
                        <div class="content"><a href="http://www.cantontower.com/" target="_blank" rel="nofollow">http://www.cantontower.com/</a>
                        </div>
                    </li>
                    <li class="item-time">
                        <div class="label">用时参考</div>
                        <div class="content">{{spot.time}}小时</div>
                    </li>
                </ul>

                <dl>
                    <dt>交通</dt>
                    <dd v-bind="content.traffic">
                    </dd>
                </dl>
                <dl>
                    <dt>门票</dt>
                    <dd>
                        <div v-bind="content.tickets">
                        </div>

                    </dd>
                </dl>
                <dl>
                    <dt>开放时间</dt>
                    <dd v-bind="content.openingTime">
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="footer" id="footer">
    <script>
        $('#footer').load('/views/common/footer.html');
    </script>
</div>
</body>
<script src="/js/vue/vue.min.js"></script>
<script src="/js/vue/system/spot/detail.js"></script>
</html>