<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link href="/styles/base.css" rel="stylesheet" type="text/css">
    <link href="/styles/travelspot.css" rel="stylesheet" type="text/css">
    <link href="/styles/select.css" rel="stylesheet" type="text/css">
    <link href="/js/plugins/jqPaginator/jqPagination.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jqPaginator/jq-paginator.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery-form/jquery.form.js"></script>
    <script src="/js/vue/md5.js"></script>
    <script src="/js/plugins/js-cookie/js.cookie.min.js"></script>
    <script type="text/javascript" src="/js/vue/common.js"></script>

</head>
<body>
<div id="navbar">
    <!--导航栏-->
    <script>
        var currentNav = "destination";
        $('#navbar').load('/views/common/navbar.html');
    </script>
</div>
<div id="app" v-cloak>
    <div id="container">
        <div class="pagelet-block">
            <div class="row row-placeList">
                <div class="wrapper">
                    <h2 class="r-title">景点</h2>
                    <div class="bd">
                        <ul class="clearfix">
                            <li class="item" v-for="spot in spots">
                                <div class="img">
                                    <a :href="'detail.html?id='">
                                        <img class="lazy" height="200" width="320"
                                             v-bind:src="spot.images"
                                             style="display: inline;">
                                    </a>
                                </div>
                                <dl class="caption">
                                    <dt>
                                        <a :href="'detail.html?id='"
                                           target="_blank"><strong>{{spot.name}}</strong><br><b>{{spot.people}}</b>人去过</a>
                                    </dt>
                                    <dd>
                                        <a href="javascript:;" target="_blank">电话：{{spot.phone}}</a>
                                        <span class="divide"></span>
                                        <a href="javascript:;" target="_blank">用时参考：{{spot.time}}小时</a>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer" id="footer">
    <script>
        $('#footer').load('/views/common/footer.html');
    </script>
</div>
</body>
<script src="/js/vue/vue.min.js"></script>
<script src="/js/vue/system/spot/list.js"></script>
</html>