<div class="ft-content" style="width: 1105px">
    <div class="ft-info clearfix">
        <dl class="ft-info-col ft-info-intro">
            <dt>骡窝窝旅游网</dt>
            <dd>叩丁狼是一家专注于培养高级IT技术人才，为学员提供定制化IT职业规划方案及</dd>
            <dd>意见咨询服务的教育科技公司，为您提供海量优质课程，以及创新的线上线下学</dd>
            <dd>习体验，帮助您获得全新的个人发展和能力提升。</dd>
        </dl>
        <dl class="ft-info-col ft-info-qrcode">
            <dd>
                <span class="ft-qrcode-tejia"></span>
            </dd>
            <dd>
                <span class="ft-qrcode-weixin"></span>
            </dd>
            <dd>
                <span class="ft-qrcode-weixin" style="background-image: url('/images/qrcode.jpg')"></span>
            </dd>
        </dl>
        <dl class="ft-info-social">
            <dt>向崇尚自由的加勒比海盗致敬！</dt>
            <dd>
                <a class="ft-social-weibo" target="_blank" href="javascript:;" rel="nofollow"><i
                        class="ft-social-icon"></i></a>
                <a class="ft-social-qqt" target="_blank" href="javascript:;" rel="nofollow"><i
                        class="ft-social-icon"></i></a>
                <a class="ft-social-qzone" target="_blank" href="javascript:;" rel="nofollow"><i
                        class="ft-social-icon"></i></a>
            </dd>
        </dl>
    </div>

    <div class="ft-links">
        <a target="_blank" href="http://china.makepolo.com/">马可波罗</a><a target="_blank" href="http://www.onlylady.com/">Onlylady女人志</a><a
            target="_blank" href="http://trip.elong.com/">艺龙旅游指南</a><a target="_blank"
                                                                       href="http://www.cncn.com">欣欣旅游网</a>
        <a target="_blank" href="http://www.8264.com/">户外运动</a><a target="_blank"
                                                                  href="http://www.yue365.com/">365音乐网</a><a
            target="_blank" href="http://ishare.iask.sina.com.cn/">爱问共享资料</a><a target="_blank"
                                                                                href="http://www.uzai.com/">旅游网</a>
        <a target="_blank" href="http://www.zongheng.com/">小说网</a>
        <a target="_blank" href="http://www.xuexila.com/">学习啦</a><a target="_blank"
                                                                    href="http://www.yododo.com">游多多自助游</a><a
            target="_blank" href="http://www.zhcpic.com/">问答</a><a target="_blank" href="http://huoche.mafengwo.cn/">火车时刻表</a>
        <a target="_blank" href="http://www.lvmama.com">驴妈妈旅游网</a>
        <a target="_blank" href="http://www.haodou.com/">好豆美食网</a><a target="_blank"
                                                                     href="http://www.taoche.com/">二手车</a><a
            target="_blank" href="http://www.lvye.cn">绿野户外</a><a target="_blank" href="http://www.tuniu.com/">途牛旅游网</a>
        <a target="_blank" href="http://www.mapbar.com/">图吧</a>
        <a target="_blank" href="http://www.chnsuv.com">SUV联合越野</a><a target="_blank" href="http://www.uc.cn/">手机浏览器</a><a
            target="_blank" href="http://sh.city8.com/">上海地图</a><a target="_blank"
                                                                   href="http://www.tianqi.com/">天气预报查询</a>
        <a target="_blank" href="http://www.ly.com/">同程旅游</a>
        <a target="_blank" href="http://www.tieyou.com/">火车票</a><a target="_blank"
                                                                   href="http://www.yunos.com/">YunOS</a><a
            target="_blank" href="http://you.ctrip.com/">携程旅游</a><a target="_blank"
                                                                    href="http://www.jinjiang.com">锦江旅游</a>
        <a target="_blank" href="http://www.huoche.net/">火车时刻表</a>
        <a target="_blank" href="http://www.tripadvisor.cn/">TripAdvisor</a><a target="_blank"
                                                                               href="http://www.tianxun.com/">天巡网</a><a
            target="_blank" href="http://www.mayi.com/">短租房</a><a target="_blank" href="http://www.zuzuche.com">租租车</a>
        <a target="_blank" href="http://www.5fen.com/">五分旅游网</a>
        <a target="_blank" href="http://www.zhuna.cn/">酒店预订</a><a target="_blank"
                                                                  href="http://www.ailvxing.com">爱旅行网</a><a
            target="_blank" href="http://360.mafengwo.cn/all.php">旅游</a><a target="_blank"
                                                                           href="http://vacations.ctrip.com/">旅游网</a>
        <a target="_blank" href="http://www.wed114.cn">wed114结婚网</a>
        <a target="_blank" href="http://www.chexun.com/">车讯网</a><a target="_blank"
                                                                   href="http://www.aoyou.com/">遨游旅游网</a><a
            target="_blank" href="http://www.91.com/">手机</a>
        <a href="javascript:;" target="_blank">更多友情链接&gt;&gt;</a>
    </div>
</div>