<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>攻略-搜索</title>
    <link href="/styles/base.css" rel="stylesheet" type="text/css">
    <link href="/styles/search.css" rel="stylesheet" type="text/css">
    <link href="/js/plugins/jqPaginator/jqPagination.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/js/plugins/jqPaginator/jq-paginator.min.js"></script>
    <script src="/js/vue/md5.js"></script>
    <script src="/js/vue/moment.min.js"></script>
    <script src="/js/plugins/js-cookie/js.cookie.min.js"></script>
    <script type="text/javascript" src="/js/vue/common.js"></script>
</head>
<body>
<div>
    <div id="navbar">
        <!--导航栏-->
        <script>
            $('#navbar').load('/views/common/navbar-search.html');
        </script>
    </div>
</div>
<div class="mfw-search-main" id="app" v-cloak>
    <div class="s-nav">
        <div class="wid">
            <div class="nav-list clearfix">
                <a href="javascript:;" class=" _j_search_link" @click="searchChange(-1)">全部</a>
                <a href="javascript:;" class=" _j_search_link" @click="searchChange(0)">目的地</a>
                <a href="javascript:;" class=" on _j_search_link" @click="searchChange(1)">攻略</a>
                <a href="javascript:;" class="  _j_search_link" @click="searchChange(2)">游记</a>
                <a href="javascript:;" class=" _j_search_link" @click="searchChange(3)">找人</a>
            </div>
        </div>
    </div>
    <div class="wid clearfix">
        <div class="ser-nums">
            <div class="sr-nums">
                <p class="ser-result-primary">
                    以下是为您找到的“{{qo.keyword}}”相关结果{{page.totalElements}}条
                </p>
            </div>
        </div>
        <div class="flt1 ser-lt" id="_j_search_result_left">

            <div class="_j_search_section" v-if="page.content&&page.content.length > 0">
                <div class="att-list">
                    <ul>
                        <li>
                            <div class="clearfix">

                                <div v-for="s in page.content">
                                    <div class="flt1">
                                        <a href="javascript:;" target="_blank" class="_j_search_link">
                                            <img :src="s.coverUrl" style="width:150px;height:90px;">
                                        </a>
                                    </div>
                                    <div class="ct-text ">
                                        <h3>
                                            <a href="javascript:;" target="_blank"
                                               class="_j_search_link" v-html="s.title"></a>
                                        </h3>
                                        <p class="seg-desc" v-html="s.summary"></p>
                                        <ul class="seg-info-list clearfix">
                                            <li>
                                                <a href="javascript:;" target="_blank" class="_j_search_link"
                                                   v-html="s.destName"></a>
                                            </li>
                                            <li>
                                                浏览({{s.viewnum}})
                                            </li>
                                            <li>
                                                评论({{s.replynum}})
                                            </li>
                                            <li>
                                                {{s.createTime|dateFormat}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--分页-->
            <div style="float: right">
                <div style="float: left;"><span style="line-height:30px"> 共{{page.totalPages}}页 / {{page.totalElements}}条&nbsp;&nbsp;&nbsp;</span>
                </div>
                <div id="pagination" class="jq-pagination" style="display: inline;"></div>
            </div>
        </div>
    </div>
</div>
<div class="footer" id="footer">
    <script>
        $('#footer').load('/views/common/footer.html');
    </script>
</div>
</body>
<script src="/js/vue/vue.min.js"></script>
<script src="/js/vue/system/search/searchStrategy.js"></script>
</html>